<fes-modal>
    <div class="w-96 h-96">
        <div class="flex justify-end">
            <p class="text-xl font-bold text-fes-blue mr-auto uppercase">Information</p>
            <button (click)="closeModal()" class="p-2 rounded-full bg-gray-300 hover:bg-gray-400 text-gray-800 hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
                <path d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>          
        </div>
        <div class="h-full flex flex-col mt-5 p-2">
            <div class="p-2 rounded-lg bg-gray-100 mb-3 flex">
                <p class="text-fes-blue text-lg font-semibold uppercase">{{product.product.name}}</p>
                <div class="ml-auto">
                    <p class="font-bold text-green-600 ml-1">{{getTotal().price | currency: 'EUR'}}</p>
                    <p class="text-xs font-bold text-red-600 ml-1 flex flex-col justify-center">(-{{getTotal().discount | currency: 'EUR'}})</p>
                </div>
            </div>
            <div class="p-2 overflow-y-auto h-16 mb-3 rounded-lg bg-gray-100">
                <p class="text-xs text-fes-blue">
                    {{product.product.description}}
                </p>
            </div>
            <div class="p-4 rounded-lg bg-gray-100 mb-3">
                <div class="flex justify-center">
                    <p class="text-fes-blue font-bold uppercase text-lg">Amount</p>
                    <div class="flex ml-auto">
                        <button *ngIf="product.amount > 1" (click)="changeAmount(-1)" class="bg-red-700 px-2 rounded-s-md text-white"><i class="fa-solid fa-minus"></i></button>
                        <p class="bg-gray-200 text-fes-blue text-lg font-semibold uppercase px-3">{{product.amount}}</p>
                        <button (click)="changeAmount(1)" class="bg-green-700 px-2 rounded-e-md text-white"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="mt-auto mb-12">
                <button (click)="edit.emit(product)" class="w-full bg-fes-blue text-white text-sm font-bold uppercase py-3 px-4 rounded-lg">Submit</button>
            </div>
        </div>          
    </div>
</fes-modal>