<div class="absolute w-screen">
    <div class="flex justify-center mt-3">
        <div class="flex flex-col items-center w-full">
            <div *ngFor="let alert of ars.getAlerts()" class="p-4 mb-4 text-sm rounded-lg shadow-xl text-center w-1/4 m-3" 
                [ngClass]="{'bg-red-200 text-red-800': alert.type == 'error', 'bg-green-200 text-green-800': alert.type == 'success'}" role="alert">
                <span class="font-bold">{{alert.message}}</span>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>