<fes-modal>
    <div class="w-96 h-44">
        <div class="flex justify-end">
            <p class="text-xl font-bold text-fes-blue mr-auto uppercase">Confirm</p>
            <button (click)="close.emit()" class="p-2 rounded-full bg-gray-300 hover:bg-gray-400 text-gray-800 hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
                <path d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>          
        </div>
        <div class="h-full flex flex-col mt-5 p-2">
            <p class="text-fes-blue font-semibold">{{message}}</p>
            <div class="flex justify-center mt-auto mb-10">
                <button (click)="cancel.emit()" class="flex items-center justify-between mr-3 w-full bg-red-800 hover:bg-red-700 text-white text-sm font-bold uppercase py-1.5 px-4 rounded-lg">
                    <span class="flex-grow text-center">Cancel</span>
                </button>
                <button (click)="confirm.emit()" class="flex items-center justify-between w-full bg-green-800 hover:bg-green-700 text-white text-sm font-bold uppercase py-1.5 px-4 rounded-lg">
                    <span class="flex-grow text-center">Confirm</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>          
    </div>
</fes-modal>